@font-face {
    font-family: 'Goldplay';
    src: local('Goldplay Light'), local('Goldplay-Light'),
        url('Goldplay-Light.woff2') format('woff2'),
        url('Goldplay-Light.woff') format('woff'),
        url('Goldplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }